
<div>

  <header>
  </header>

  <center>Total: {{ count }}</center>

  <div class="container js-stagger" >

    <!--<div class="question-number">3.</div>-->
    <!--       <div class="score-bar">
        <span class="coin"></span><span class="points">30 points<span>
      </div> -->

      <div class="image" :style="{ 'background-image': 'url(' + randomQuestion.image + ')' }"></div>

      <div class="copy">

        <div class="question">{{ randomQuestion.question }}</div>

        <div class="answers">

          <button
            class="answer"
            @click="selectAnswer(answer)"
            v-for="answer in randomQuestion.answers"
            :class="{
              'is-true': selectedAnswer === answer && answer.mark || selectedAnswer && answer.mark,
              'is-false': selectedAnswer === answer && !answer.mark,
              'disabled': selectedAnswer
            }"
          >
            {{ answer.text }}
          </button>

          <div v-if="selectedAnswer">

            <div v-if="selectedAnswer.mark == true" class="score">
              <span class="number1">2</span><span class="number2">0</span>
              <div class="text">POINTS</div>
            </div>

            <div v-else class="score">
              <span class="number1">0</span>
              <div class="text">POINTS</div>
            </div>

          </div>

        </div>

      </div>

    <div class="timer">
      <div
        class="time-bar"
        :class="{ 'stop': selectedAnswer }"
      >
      </div>
    </div>

  </div>

</div>
