@import '../../../../assets/styles/resource/resource';

.container {
  position: relative;
  width: calc(100% - 20px);
  max-width: 520px;
  padding: 40px 40px 20px 40px;
  text-align: center;
  background: $colorWhite;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Roboto Slab';

  @media screen and (max-width: 520px) {
    width: 100%;
    min-height: 100vh;
    margin: none;
    padding: 18px;
  }

  @media screen and (min-width: 521px) {
    min-height: 548px;
    margin: 20px auto;
    border-radius: 1em;
    border: 1px solid lightgray;
  }

  // Bg for footer bars on iPhone 6, 6S, 7
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-device-pixel-ratio: 2) {
    height: calc(100vh - 69px);
    min-height: inherit;
  }

  // Bg for footer bars on iPhone 6 Plus, 7 Plus
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-device-pixel-ratio: 2) {
    height: calc(100vh - 69px);
    min-height: inherit;
  }

  // Bg for footer bars on iPhone 5, 5S
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-device-pixel-ratio: 2) {
    height: calc(100vh - 69px);
    min-height: inherit;
  }

  // Bg for footer bars on iPhone 4, 4S
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-device-pixel-ratio: 2) {
    height: calc(100vh - 69px);
    min-height: inherit;
  }

}

.question-number {
  position: absolute;
  top: 0;
  left: 0;
  background: url(http://n.blck.lv/2w3z2h2c3r3Z/question-number-bg.png) top left no-repeat;
  background-size: contain;
  color: white;
  width: 100px;
  height: 50px;
  padding: 24px;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.2em;
  font-weight: 700;
  text-align: left;
  animation: fadeIn .8s forwards;
	opacity: 0;
  z-index: 100;
}

.image {
  width: 100%;
  height: 50vw;
  max-height: 324px;
  display: inline-block;
  margin: 6px auto 0;
  background: url(http://static.panoramio.com/photos/large/71720376.jpg) center no-repeat;
  background-size: cover;
  animation: fadeIn .8s forwards;
	opacity: 0;

  @media screen and (min-width: 521px) {
    border-radius: 1em;
  }

}

.question {
  padding: 30px 10px;
  font-size: 2.4rem;
  line-height: 1.3em;
  font-weight: 400;

  @media screen and (max-width: 420px) {
    font-size: 5.5vw;
    line-height: 6vw;
    padding: 14px 0
	}

  // Smaller font-size on iPhone 6, 6S, 7
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-device-pixel-ratio: 2) {
    font-size: 5vw;
  }

  // Smaller font-size on iPhone 6 Plus, 7 Plus
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-device-pixel-ratio: 2) {
    font-size: 5vw;
  }

  // Smaller font-size on iPhone 5, 5S
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-device-pixel-ratio: 2) {
    font-size: 5vw;
  }

  // Smaller font-size on iPhone 4, 4S
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-device-pixel-ratio: 2) {
    font-size: 5vw;
  }

}

.answer {
  position: relative;
  width: 100%;
  margin: 0 auto 20px;
  color: black;
  padding: 10px 20px;
  height: 68px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border-radius: 36px;
  background: transparent;
  border: 2px solid #4a4a4a;
  display: block;
  font-size: 1.85rem;
  font-weight: 400;
  line-height: 1em;
  animation: fadeInUp .6s forwards;
	opacity: 0;
  animation-delay: 0.2s;

  @media screen and (max-width: 420px) {
    height: 15.2vw;
    padding: 6px 20px 8px;
    margin: 0 auto 10px;
    font-size: 4.4vw;
    line-height: 4.4vw;
	}

  // Saving space because of footer bar on iPhone 6, 6S, 7
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-device-pixel-ratio: 2) {
    height: 14vw;
  }

  // Saving space because of footer bar on iPhone 6 Plus, 7 Plus
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-device-pixel-ratio: 2) {
    height: 14vw;
  }

  // Saving space because of footer bar on iPhone 5, 5S
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-device-pixel-ratio: 2) {
    height: 14vw;
  }

  // Saving space because of footer bar on iPhone 4, 4S
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-device-pixel-ratio: 2) {
    height: 14vw;
  }

  &:hover {
    border: 0px solid black;
    color: white;
		background: #313131; /* Old browsers */
		background: -moz-linear-gradient(top,  #313131 1%, #111111 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #313131 1%,#111111 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #313131 1%,#111111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
  }

  &.disabled {
    pointer-events: none;
  }

  &.is-true {
    border: 0px solid green;
    color: white;
    background: #4bbc00; /* Old browsers */
    background: -moz-linear-gradient(top,  #4bbc00 1%, #35a000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4bbc00 1%,#35a000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4bbc00 1%,#35a000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bbc00', endColorstr='#35a000',GradientType=0 ); /* IE6-9 */
  }

  &.is-false {
    border: 0px solid #cc0000;
    color: white;
    background: #cc0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #cc0000 1%, #ac0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cc0000 1%,#ac0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cc0000 1%,#ac0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#ac0000',GradientType=0 ); /* IE6-9 */
  }

}

.timer {
  position: absolute;
  top: 21px;
  margin: 0 auto;
  width: 0;
  height: 6px;
  border-radius: 2em;
  background: $colorGrey;
  animation: timer 10s linear forwards;

  @-webkit-keyframes timer {
  100% {
    width: 438px;
    }

  }

}

.score {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 25%;
  font-family: 'Kong Text';
  line-height: 2.5em;
  color: $colorWhite;
  text-shadow: 2px 3px $colorBlack;
  opacity: .95;

  .text {
    display: block;
    text-align: center;
  }

  .number1, .number2 {
    color: $colorGold;
    display: inline-block;
  }

  .number1 {
    font-size: 8rem;
    animation: tada .8s forwards;
  }

  .number2 {
    font-size: 8rem;
    animation: tada .8s forwards;
  }

  .text {
    font-size: 2.4rem;
    color: $colorWhite;
    animation: fadeInUp .4s forwards;
  }

}
