// Media queries
$mediaQueries: (
    'X_SMALL': '(max-width: 480px)',
    'SMALL': '(max-width: 768px)',
    'MEDIUM': '(max-width: 1024px)',
    'LARGE': '(min-width: 1025px)',
    'X_LARGE': '(min-width: 1480px)',
    'XX_LARGE': '(min-width: 1680px)',
    'MEDIUM_ISOLATE ': '(min-width: 768px) and (max-width: 1023px)',
    'MOBILE_LANDSCAPE': '(max-device-width: 768px) and (orientation: landscape)'
);

// Fonts
$fontHelveticaLTStd-Thin: 'HelveticaNeue-Thin', serif;
$fontHelveticaLTStd-Light: 'HelveticaNeue-Light', serif;
$fontHelveticaLTStd-Regular: 'HelveticaNeue-Regular', serif;
$fontHelveticaLTStd-Medium: 'HelveticaNeue-Medium', serif;
$fontHelveticaLTStd-Bold: 'HelveticaNeue-Bold', serif;
$fontHelveticaLTStd-BoldItalic: 'HelveticaNeue-BoldItalic', serif;

// Sizes
$sizeSiteWidth: 1280px;

// Colors
$colorBody: #f1f1f1;
$colorBlack: #000;
$colorWhite: #fff;
$colorGrey: #8e9499;
$colorBlue: #131526;
$colorOrange: #e64c2e;
$colorRed: #cc0000;
$colorDarkGrey: #484848;
$colorGuestList: #f1f1f1;
$colorPlanner: #f5f5f5;
$colorHairline: #e0e0e0;
$colorFooter: #999999;
$colorGold: gold;

// Z-indexes
$layout: main, menu, popup, header;
