@import 'utility/normalize';
@import 'resource/resource';
@import 'type/font';
@import 'type/type';
@import 'ui/ui';
@import 'layout/layout';

html {
  font-size: 62.5%;
}

body {
  background: $colorBody;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  @include respond-to('X_SMALL') {
    background: white !important;
    overflow: hidden;
  }

}
